@using InternetStore.Models
@model List<InternetStore.Models.OrderHistory_OrderModel>

@{
    ViewBag.Title = "OrderHistory";
}
<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<link type="text/css" href="~/Content/ProductDetailList.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="well-lg">
            @foreach (OrderHistory_OrderModel oh_om in Model)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row panel-title">
                                    <div class="col-md-3 incenter text-center">
                                        <p><b>Order #</b>@oh_om.Id</p>
                                    </div>
                                    <div class="col-md-3 incenter text-center">
                                        <p><b>Date: </b>@oh_om.Date</p>
                                    </div>
                                    <div class="col-md-3 incenter text-center">
                                        <p><b>Total: $</b>@oh_om.Summ</p>
                                    </div>
                                    <div class="col-md-2 incenter text-center">
                                        <p><b>Status: </b>@oh_om.Status</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" hidden>
                                <table id="cartTable" class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Item</th>
                                                <th class="text-center"></th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-center">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (OrderHistory_ProductModel oh_pm in oh_om.Products)
                                            {
                                                <tr>
                                                    <td class="text-center" valign="middle"><img src="@oh_pm.Image" class="img-responsive img-thumbnail" style="height:200px;" /></td>
                                                    <td class="text-center" valign="middle"><a href="/Home/ProductDetailList/@oh_pm.Id"><h3>@oh_pm.ProductName</h3></a></td>
                                                    <td class="text-center" valign="middle"><h4>@oh_pm.Quantity</h4></td>
                                                    <td class="text-center" valign="middle"><h4>$ @oh_pm.Price</h4></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".panel-heading").click(function () {
            $(this).parent().children(".panel-body").toggle();
        });
    });
</script>